.header-container {
  height: 250px;       
  width: 100%;

  display: flex;
  align-items: center;    

  padding-top: 80px;  
}


.logo {
  width: 260px;
  height: auto;
  margin: auto;
}

h2 {
  font-family: "Ibarra Real Nova", serif;
}

h5 {
    font-family: "Ibarra Real Nova", serif;
  }

h7 {
    font-family: "Ibarra Real Nova", serif;
  }
