/*   THIS IS FOR NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4c3a3;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  border-bottom: 2px solid black;
  font-size: larger;
  color: black;
}

ul li a.active {
  border-bottom: 2px solid black;
  color: black;
}




.header-container {
  height: 250px;       
  width: 100%;

  display: flex;
  align-items: center;    

  padding-top: 80px;  
}

/*   THIS IS FOR LOGO FOR METROPLIS CAFE */

.logo {
  width: 260px;
  height: auto;
  margin: auto;
}

/*   THIS IS FOR THE FONTS FOR EVERYTHING */
h2 {
  font-family: "Ibarra Real Nova", serif;
}

h5 {
    font-family: "Ibarra Real Nova", serif;
  }

p {
    font-family: "Ibarra Real Nova", serif;
  }

h4 {
    font-family: "Ibarra Real Nova", serif;
  }
/*   THIS IS metroplis cafe and metroplis mercatile image and description FOR MORE MARGIN SPACE */
.more-space {
  margin-top: 120px;


}
/* ABOUT OUR COFFEE STARTS HERE */
/* ABOUT OUR COFFEE IMAGE (HELPS MAKE IT GO LEFT) */
.img_deg{
  float: right;
 
}
/* HELPS POSISTION THE TEXT AND IMAGE */
.pos_cen {
  position: relative; /* FIXES OVERLAP */
  width: 80%;
  margin: 120px auto;
  margin-right: 120px;
}

/* HELPS THE PARAGRPAH FORMATTING */
.another-paragraph {
  top-padding: 120px;
  font-size: 25px;
  width: 60%;

}

/* try our new menU starts here */
/* try our new menU HEADING starts here */
.try-menu-title h1 {
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  margin-top: 130px;   /* adds space above */
  margin-bottom: 20px; /* adds space below */
  font-size: 42px;     
  font-weight: 600; /* boldd */
}


.less-space {
  margin-top: 40px;

}
/* HELPS THE MATCHA AND SANDWICH PARAGRAPH FORMATTING */
.another-paragraph2 {
  top-padding: 120px;
  font-size: 20px;
  width: 94%;

}
/* EXPLORE OUR ONLINE MERCANTILE STORE STARTS HERE */
/* THIS IS FOR THE HEADING FORMATTING */
.mercantile-store h1 {
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  margin-top: 110px;   /* adds space above */
  margin-bottom: 20px; /* adds space below */
  font-size: 42px;     
  font-weight: 600; /* boldd */
}
/* THIS IS FOR THE PARAGRAPH FORMATTING */
.mercantile-store p {
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  margin-top: 10px;   /* adds space above */
  margin-bottom: 20px; /* adds space below */
  font-size: 20px;     
  
}

/* this is for the button  */
.mercantile-button {
  font-family: 'Ibarra Real Nova', serif;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}



/* woman clothing starts here  WHOLE NEW PAGE!!*/
/* THIS IS FOR ALL THE HEADING FOR THE SECOND PAGE  */
.woman-title {
  text-align: center;
  font-family: "Ibarra Real Nova", serif;
  margin-top: 140px;
  margin-bottom: 25px;
  font-size: 40px;
}

