/* body {

  background-color: beige;
}


h1 {
  color: #8a00c2;
  font-size: 1rem;
  text-decoration: underline;
}

/*
h1 {
  color:purple;
}
*

.name {
  color:blue;
} */


.name{
color:palevioletred;

}

.question{
color: blueviolet;
  border-style: dashed;
  border-color: blueviolet;
  color: rgb(124, 76, 89);
}
